In [ ]:
import pandas as pd

In [ ]:
# Loading Dictionary as a DataFrame
x = {'name': ['Alex Red', 'Ben Brown', 'Cindy Grey', 'Den Yellow', 'Evan Black'],
     'age': [22, 45, 23, 32, 38],
     'city': ['Dnipro', 'Dallas', 'Pineville', 'Yorkshire', 'Sunton']}

df = pd.DataFrame(x)
df

In [ ]:
# Retrieving column 'city'
x = df[['city']]
x

In [ ]:
# Retrieving [row] by index
x = df.iloc()[1]
x

In [ ]:
# Retrieving Cell's value by index[row][column]
x = df.iloc()[1][0]
x

In [ ]:
# Type of the cell
type(x)

In [ ]:
# Multiple columns, with changed order
x = df[['age', 'city']]
x

In [ ]:
# Reading from file
ttnc = pd.read_csv('titanic.csv')
ttnc.head()

In [ ]:
# Creating subframe with specified columns
titanic_h = ttnc.head()[['Name', 'Sex', 'Age', 'Survived', 'Pclass']]
titanic_h

In [ ]:
# Getting row by index
titanic_h.iloc[0]

In [ ]:
# Retrieving [row_index, [col1, col2]]
titanic_h.loc[1, ['Sex', 'Age']]

In [ ]:
# Creating subframe by index range for both [row, cols]
ttnc.iloc[0:10, 3:6]

In [ ]:
# Creating subframe by [row_indexes, col_names]
ttnc.loc[0:3, 'Pclass':'Age']